<header><a href="/example/backbone">Sails.JS Examples: Backbone</a></header>

<div id="content">
</div> 

<footer class="clear">&copy;2013 Nobody<div class="float_right"><a href="/">Examples</a></div></footer>